body{
	 background-color: #000000;
   padding: 0px;
   margin: 0px;
  
 }

#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.list{
  left: 50%;
  text-align: center;
}
button{
  font-size: 3vh;
}
h1{
  font-size: 5vh;
}
h2{
  font-size: 4vh;
}